@import '../themes.scss';

.snax-explorer-app.dark-theme {
  .mat-drawer-container {
    background-color: map_get($paletteBlueGrey, 900);
  }

  .mat-drawer,
  .mat-card,
  .mat-table,
  .mat-paginator,
  .mat-toolbar.mat-primary {
    background-color: map_get($paletteBlueGrey, 800);
  }

  pre {
    outline: 0px solid transparent !important;
  }

  .mat-card {
    min-width: 0;
  }

  .mat-expansion-panel {
    background-color: map_get($paletteBlueGrey, 800);
  }

  input {
    background-color: transparent;
    color: #fff;
    border-radius: 2px !important;
    border-color: map_get($paletteBlueGrey, 700) !important;

    &::placeholder {
      color: map_get($paletteBlueGrey, 500) !important;
    }
  }
}
